.vs
bin
obj
.vscode
.DS_Store
#appsettings.json
appsettings.Development.json
launchSettings.json
*.db
*.csproj.user
wwwroot
*.log
test/coveragereport/*
coverage.opencover.xml
src/Properties/launchSettings.json
src/appsettings.Development.json
src/launchSettings.json
build/
publish/